<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <!-- Botón deshabilitado si falta usuario o contraseña -->
  <ion-button 
    expand="block" 
    (click)="login()" 
    [disabled]="!username || !password">
    Iniciar Sesión
  </ion-button>

  <ion-button expand="block" color="secondary" routerLink="/register">
    Registrarse
  </ion-button>
</ion-content>
